<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="./assets/selfie.jpg" />
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hi, and thanks for clicking through to read more about me. 
      I come from more creative pursuits, the world of music and 
      theatre, and was a succesul freelance developmental editor for many years.
      </p> 
      <p>I will always carry these things with me, but the great thing 
      about having that creative drive, is it can find other 
      outlets, such as software development. Like many of us in the 
      tech world, I always had fun tinkering with computer stuff, 
      but it was the AMKoodari program in 2020 where I discovered a true 
      joy for it.
      </p>
      <p>Deciding to make that transition from editing full 
      time, to pursuing life as a software developer, I went and got my degree. I graduated from 
      Laurea UAS with a BBA in Business Information Technology, with a focus on software develooment. In IT though, 
      if you really want to learn more, you have to go out there and get it yourself, which lead me to Integrify Academy,
      where I received certification in fullstack development. My tech stack there was 
      React, Redux, Typescript, C# ASP.NET and Entity Framework, using PostgreSQL.
      </p>
      <p>I began my software development journey at Freely Energy, where I got to develop the codebase and prove the concept, 
      using the principles of Test-Driven Development (TDD). I enjoyed the opportunity to work outside my initial tech stack,
      getting to learn new things and grow in the process. </p>
      <p>The title of Software Developer doesn’t have an end goal, it’s rather in what you create, always learning new skills,
      honing old ones. It is a lifelong learning process, and that appeals to me. Life’s too short to not try new 
      things, and to not enjoy what you do. 
      </p> 
      <p>When I’m not working on expanding my developer knowledge and skills, I enjoy listening to and making 
      music, mostly playing one of my ukuleles nowadays. I also enjoy crafting 
      jewelry pieces, and photography.
      </p>
    </ion-card-content>
    <ion-button color="primary" (click)="openLinkedIn()">
      <ion-icon slot="start" name="logo-linkedin"></ion-icon>
      LinkedIn Profile
    </ion-button>
    <ion-button color="tertiary" (click)="openLinkedIn()">
      <ion-icon slot="start" name="logo-github"></ion-icon>
      Github Profile
    </ion-button>
    <ion-button color="success" (click)="openPdf()">
      <ion-icon slot="start" name="briefcase"></ion-icon>
      My CV
    </ion-button>
  </ion-card>
</ion-content>
 