<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Userlist Project</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Userlist Page" src="./assets/userlist.png" />
    <ion-card-header>
      <ion-card-title>Userlist Project</ion-card-title>
      <ion-card-title>
        <ion-icon  name="logo-react"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>React</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>A collection of user accounts that allow for clicking for 
        more information. Note this is more about the design, as I wasn’t 
        yet very clear on routing. 
      </p>
      <p>For all that, it does work, you might find how I sort of worked
        around the issue, showing that I can admit when I'm wrong, but I 
        do keep trying. One day I might get around to fixing it!
      </p>
      <p>Feel free to play with it by clicking the app link below, or of
        course to always check it out on Github.
      </p>
    </ion-card-content>
    <ion-button color="tertiary" (click)="openUserlist()">
      <ion-icon slot="start" name="logo-github"></ion-icon>
      Github
    </ion-button>
    <ion-button color="success" (click)="openApp()">
      <ion-icon slot="start" name="desktop"></ion-icon>
      Userlist
    </ion-button>
  </ion-card>
</ion-content>
