

.container {
  background: lightgray;
  overflow: hidden;
  min-height: 200px;
  width: 100%; 
  align-items: center;

  img {
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    border-radius: 50px;
    float: left;
  }

  p {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

}

.main {
  padding: 16px;
  align-items: center;

  ion-card {
    max-width: 350px;
    min-width: 300px;
    height: 400px;
  }
}




  




