.container {
  background: #1C2329;
  overflow: hidden;
  display: flex;
  min-height: 200px;
  width: 100%;
  box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.61);

  img {
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    min-width: 150px;
    border-radius: 50px;
    float: left;
  }

  p {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
  }

  h4 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 300;
    line-height: 58px;
  }

}

.main {
  padding: 16px;
  align-items: center;
 
}

.styled-list {
  list-style: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
  margin-right: 10px; /* Increase right margin for the entire list */
}

.styled-list li {
  color: #fff; /* Light color for better contrast */
  padding-left: 20px; /* Adjust as needed to create space for the bullet */
  text-indent: -20px; /* Negative indent to align the first line with the rest */
  margin-bottom: 20px; /* Add more space between each line */
}

.styled-list li::before {
  content: ''; /* Add your line image or style here */
  display: inline-block;
  width: 10px; /* Width of the line */
  height: 2px; /* Height of the line */
  background-color: #fff; /* Line color, ensure it's visible against the background */
  margin-right: 10px; /* Space between line and text */
  vertical-align: middle; /* Align with the text */
}

ion-card {
  max-width: 400px;
  min-width: 250px;
  height: 450px;
}
